.section--about {
  padding: 15.3rem 0 14.375rem 0;
  @media screen and (max-width: $md) {
    padding: 3.75rem 0 5rem 0;
  }
  @media screen and (max-width: $sm) {
    padding: 3.75rem 0 5rem 0;
  }
}
.about {
  display: grid;
  grid-template-columns: 80vmin 1fr;
  @media screen and (max-width: $lg) {
    grid-template-columns: 70vmin 1fr;
  }
  @media screen and (max-width: $md) {
    grid-template-columns: 1fr;
  }
}
.about__left {
  display: flex;
  position: relative;
  @media screen and (max-width: $md) {
    grid-row-start: 2;
    padding: 20vmin 0;
    height: 70vmin;
  }
  @media screen and (max-width: $xs) {
    padding: 30vmin 0;
    height: 100vmin;
  }
}
.about__button {
  top: 35vmin;
  position: sticky;
  width: 30vmin;
  height: 30vmin;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.3em;
  color: $t-color-100;
  letter-spacing: $t-ls-4;
  font-weight: 700;
  background-image: linear-gradient(300deg, red, blue);
  margin: 0 8rem 0 auto;
  pointer-events: none;
  transition: opacity 0.3s ease;
  @media screen and (max-width: $lg) {
    margin: 0 6rem 0 auto;
  }
  @media screen and (max-width: $md) {
    grid-row-start: 2;
    margin: 0 20vmin 0 auto;
    position: relative;
    top: 0;
  }
  @media screen and (max-width: $sm) {
    margin: 0 23vmin 0 auto;
  }
  @media screen and (max-width: $xs) {
    margin: 0 auto 0 42vmin;
    width: 40vmin;
    height: 40vmin;
  }
}
.about__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 27.1875rem;
  margin: 0 5.925rem 0 auto;
  @media screen and (max-width: $xl) {
    margin: 0 0 0 auto;
  }
  @media screen and (max-width: $lg) {
    // max-width: 18rem;
  }
  @media screen and (max-width: $md) {
    margin: 0;
    max-width: unset;
  }
}
.h2--about {
  margin-bottom: 1.3rem;
}
.about__list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.25rem;
  margin: 3.125rem 0 1.875rem 0;
  @media screen and (max-width: $sm) {
    margin: 2.125rem 0 1.6rem 0;
    row-gap: 1.4rem;
  }
}
.about__l-item-count {
  margin-bottom: 0.93rem;
  font-weight: 700;
  color: $t-color-20;
  letter-spacing: $t-ls-2;
  font-size: 1.3125rem;
  line-height: 1.47em;
  @media screen and (max-width: $sm) {
    margin-bottom: 0.625rem;
  }
}
.about__l-item-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6em;
  color: $t-color-100;
  letter-spacing: $t-ls-2;
  @media screen and (max-width: $sm) {
    font-size: 0.875rem;
  }
}
