.section--hero {
  padding: 18rem 0 17.1rem 0;
  @media screen and (max-width: $md) {
    padding: 21rem 0 2.5rem 0;
  }
  @media screen and (max-width: $sm) {
    padding: 21rem 0 2.5rem 0;
  }
}
.hero__content {
  width: 63.3%;
  display: flex;
  margin-left: auto;
  flex-direction: column;
  @media screen and (max-width: $md) {
    width: 100%;
  }
}
.hero__content-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  @media screen and (max-width: 768px) {
    margin: 0;
  }
}
.hero__text {
  max-width: 530px;
  width: 100%;
  color: $t-color-80;
  font-size: 1.3125rem;
  line-height: 1.6em;
  font-weight: 400;
  letter-spacing: $t-ls-2;
  margin-top: 3.125rem;
  @media screen and (max-width: $sm) {
    max-width: unset;
    margin-top: 2.5rem;
    font-size: 1.125rem;
  }
}
.button--hero {
  margin-top: 2.625rem;
  @media screen and (max-width: $sm) {
    margin-top: 0.75rem;
  }
}
