*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
input,
textarea {
  margin: 0;
  padding: 0;
  border: none;
  &:focus-visible {
    outline: none;
  }
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
