.section--wwd {
  padding: 2.5rem 0;
  overflow: hidden;
  @media screen and (max-width: $md) {
    overflow: hidden;
    padding: 0;
  }
}
.wwd {
  box-shadow: 0 0 1.25rem 1.25rem $bg-color;
  padding: 7.5rem 0 9.375rem 0;
  border-radius: 1.25rem;
  margin: 0 2.5rem;
  overflow: hidden;
  position: relative;
  @media screen and (max-width: $md) {
    width: max-content;
    display: inline-block;
    padding: 4.7rem 0 4.7rem 0;
  }
  @media screen and (max-width: $sm) {
    padding: 2.5rem 0 3.125rem 0;
    margin: 0 0.625rem;
  }
}
.wwd .container {
  @media screen and (max-width: $sm) {
    padding: 0 20px;
  }
}
.wwd__content-wrapper {
  @media screen and (max-width: $md) {
    overflow: auto;
    padding: 2.5rem 0;
    width: 100%;
  }
}
.wwd__content {
  display: flex;
  flex-direction: column;
}
.wwd__content-top-wrapper {
  @media screen and (max-width: $md) {
    width: 100%;
  }
}
.wwd__content-top--mobile {
  display: none;
  pointer-events: none;
  @media screen and (max-width: $md) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    left: 5rem;
    top: 7rem;
    width: calc(100vw - 10rem);
    position: absolute;
    z-index: 3;
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    height: 7.8125rem;
    top: 5rem;
    left: 0;
    width: 100vw;
    .h3 {
      max-width: 15rem;
      text-align: center;
    }
  }
}
.wwd__content-top {
  display: flex;
  width: 100%;
  padding-right: 6.25rem;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 6.25rem;
  @media screen and (max-width: $xl) {
    padding-right: 4rem;
  }
  @media screen and (max-width: $lg) {
    padding-right: 0;
    margin-bottom: 2.5rem;
  }
  @media screen and (max-width: $md) {
    opacity: 0;
    pointer-events: none;
  }
  @media screen and (max-width: $sm) {
    flex-direction: column;
    height: 7.8125rem;
    max-width: 15rem;
  }
}
.wwd__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.25rem;
  @media screen and (max-width: $lg) {
    grid-template-columns: 1fr;
  }
  @media screen and (max-width: $md) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.wwd__card {
  border-radius: 1.1875rem;
  box-shadow: inset 0 0 0 1px #ffffff33;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(205deg, $t-color-20 0%, transparent 100%);
  // backdrop-filter: blur(2.625rem);
  padding: 2.5rem;
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(205deg, $t-color-20 0%, transparent 100%);
    transition: opacity 0.3s ease;
    opacity: 0;
  }
  &:hover {
    &::after {
      opacity: 100%;
      pointer-events: none;
    }
    .wwd__card-count {
      color: $t-color-100;
    }
  }
  @media screen and (max-width: $sm) {
    padding: 1.875rem;
    max-width: 80vw;
  }
}
.wwd__card-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wwd__card-icon {
  margin-bottom: 4.0625rem;
  @media screen and (max-width: $sm) {
    margin-bottom: 1.875rem;
  }
}
.h4--wwd {
  margin-bottom: 1.25rem;
}
.wwd__card-text {
  font-size: 1.125rem;
  line-height: 1.6em;
  letter-spacing: $t-ls-1;
  color: $t-color-90;
  @media screen and (max-width: $sm) {
    margin-bottom: 1rem;
  }
}
.wwd__card-count {
  margin-top: 2.1875rem;
  font-size: 1.5rem;
  line-height: 1.5em;
  font-weight: 600;
  color: $t-color-40;
  transition: color 0.3s ease;
}
